{% extends 'back/base_back.html.twig' %}
{% block title %}Liste des films{% endblock %}
{#
{% block admin_nav %}{{ include('back/_nav.html.twig', {'nav_active': 'movie_index'}) }}{% endblock %}
#}
{% block body %}
<div class="container">
    <h1>Liste des films</h1>
    {{ include('_flash_messages.html.twig') }}
    <a  class="btn btn-primary" href="{{ path('back_movie_new') }}">Créer un nouveau film</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Type</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td><img src="{{ movie.poster }}" width="50" /></td>
                    <td>{{ movie.type }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('back_movie_show', {'id': movie.id}) }}">Voir</a>
                        <a class="btn btn-primary" href="{{ path('back_movie_edit', {'id': movie.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Pas de film trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
