{#
    Alternativement, on peut configurer les options du form
    dans la méthode configureOptions() du FormType
#}
{{ form_start(form) }}

    {# On décompose si on veut ordonner les champs dans un ordre différent du form #}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.roles) }}
    
    <button class="btn btn-success mb-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
